<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<div class="container">
  <!-- <div class="row">
    <app-sign-in></app-sign-in>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="OnAddServer()">Add Server</button>
      <br><br>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers; let i = index" (click)="onRemoveServer(i)">
          <span redWhite [hidden]="i%2 == 0">{{ server }}</span>
          <span blueWhite [hidden]="i%2 != 0">{{ server }}</span>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-12 mt-3">
      <h3>{{allowNewServer}}</h3>
      <h3 [innerText]="allowNewServer" *ngIf="allowNewServer"></h3>
    </div>
    <div class="col-6 mt-3">
      Favorite Color: <input type="text" class="form-control" [(ngModel)]="favoriteColor" (ngOnChanges)="do_changes()">
    </div>  
    <div class="col-6 mt-3">
      Favorite Color 2: <input type="text" class="form-control" [formControl]="favoriteColorControl">
    </div>
    <div class="col-12 mt-3">
      <app-reactive-favorite-color></app-reactive-favorite-color>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-12 mt-5">
      <h4>Name Editor</h4>
      <app-name-editor></app-name-editor>
    </div>
    <div class="col-12 mt-5">
      <h4>Profile Editor</h4>
      <app-profile-editor></app-profile-editor>
    </div>
    <div class="col-12 mt-5">
      <h4>Profile</h4>
      <app-profile></app-profile>
    </div>
  </div> -->
  <!-- <div class="mt-5"></div> -->
  <!-- <div class="row mt-5">
    <div class="col-12">
      <div style="width:40%;float:left;border:solid 1px black;">
        <h1>Uppercase Pipe</h1>
        <b>{{title | uppercase}}</b><br />
        <h1>Lowercase Pipe</h1>
        <b>{{title | lowercase}}</b>
        <h1>Currency Pipe</h1>
        <b>{{6589.23 | currency:"USD"}}</b><br />
        <b>{{6589.23 | currency:"GBP":true}}</b> //Boolean true is used to get the sign of the currency.
        <h1>Date pipe</h1>
        <b>{{todaydate | date}} {{todaydate | date:"shortTime"}}</b><br />
        <b>My Date : {{today_date_alt | date}}</b><br />
        <b>My Time : {{today_date_alt | date:'shortTime'}}</b><br />
        <b>My File Storage : {{file_storage | file_size_filter}}</b><br />
        <b>{{todaydate | date:'shortTime'}}</b>
        <h1>Decimal Pipe</h1>
        <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 is for main integer, 4 -4 are for integers to be displayed.
      </div>
      <div style="width:40%;float:left;border:solid 1px black;">
        <h1>Json Pipe</h1>
        <b>{{ jsonval | json }}</b>
        <h1>Percent Pipe</h1>
        <b>{{00.54565 | percent}}</b>
        <b>{{00.54 | percent}}</b>
        <h1>Slice Pipe</h1>
        <b>{{months | slice:2:6}}</b>
        // here 2 and 6 refers to the start and the end index
      </div>
    </div>
  </div> -->
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-success mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
      <a class="navbar-brand" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
      <a class="navbar-brand" routerLink="/profile-editor" routerLinkActive="active">Profile Editor</a>
      <a class="navbar-brand" routerLink="/name-editor" routerLinkActive="active">Name Editor</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>
